.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  width: 64px;
  text-align: center;
  user-select: none;
  color: white;
}

.icon-image {
  width: 48px;
  height: 48px;
}

.icon-label {
  margin-top: 4px;
  font-size: 12px;
}
